# FIT5120 Iteration 01
## Missing Values and Filtering

#### Author: Akshatha Shivashankar Chindalur
#### Student ID: 29996503

Date: 27/04/2020

Version: 1.0

Environment: Python 3.7.3 and Jupyter notebook

Libraries used: 

* pandas (for accessing and modifying data in csv files, included in Anaconda Python 3.7)

In [1]:
# intialising the libraries

import pandas as pd

In [2]:
# loading the hospital dataset
hospital_df = pd.read_csv('./datasets/raw_data/health_centers/Hospital_Locations.csv')
hospital_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325 entries, 0 to 324
Data columns (total 17 columns):
X             325 non-null float64
Y             325 non-null float64
FID           325 non-null int64
LabelName     325 non-null object
OpsName       325 non-null object
Type          325 non-null object
StreetNum     325 non-null object
RoadName      325 non-null object
RoadType      325 non-null object
RoadSuffix    325 non-null object
CampusCode    325 non-null int64
LGAName       325 non-null object
LocalityNa    325 non-null object
Postcode      325 non-null int64
VicgovRegi    325 non-null object
State         325 non-null object
ServiceNam    325 non-null object
dtypes: float64(2), int64(3), object(12)
memory usage: 43.2+ KB

In [3]:
# formatting the string in the below columns of the dataset
hospital_df['LGAName'] = hospital_df['LGAName'].str.title() 
hospital_df['LocalityNa'] = hospital_df['LocalityNa'].str.title()
hospital_df['RoadName'] = hospital_df['RoadName'].str.title()
hospital_df['RoadType'] = hospital_df['RoadType'].str.title()

In [4]:
#   This function replaces an empty Locality Name with its LGA Name.
#
#   :param lga_name:    the LGA Name of the given observation.
#          locality_name: the Locality Name of the given observation.
#
#   :return locality_name:   the replaced Locality Name (previously empty)

def check_locality_name(lga_name, locality_name):
    
    if locality_name == ' ':
        locality_name = lga_name
        
    return locality_name

hospital_df['LocalityNa'] = hospital_df.apply(lambda row:check_locality_name(row['LGAName'], row['LocalityNa']),axis=1)

In [5]:
#hospital_df.head()

In [6]:
hospital_df.to_csv('./datasets/clean_data/hospital_loc.csv', index=False, header=True)

In [7]:
# loading the postal codes dataset
postal_df = pd.read_csv('./datasets/raw_data/Australian_Post_Codes_Lat_Lon.csv')
postal_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16080 entries, 0 to 16079
Data columns (total 7 columns):
postcode    16080 non-null int64
suburb      16079 non-null object
state       16079 non-null object
dc          15793 non-null object
type        16079 non-null object
lat         16079 non-null float64
lon         16079 non-null float64
dtypes: float64(2), int64(1), object(4)
memory usage: 879.5+ KB

In [8]:
postal_df.head()

,postcode,suburb,state,dc,type,lat,lon
0,200,AUSTRALIAN NATIONAL UNIVERSITY,ACT,AUSTRALIAN NATIONAL UNI LPO,Post Office Boxes,-35.277272,149.117136
1,221,BARTON,ACT,NaN,LVR,-35.201372,149.095065
2,800,DARWIN,NT,DARWIN DELIVERY CENTRE,Delivery Area,-12.801028,130.955789
3,801,DARWIN,NT,DARWIN DELIVERY CENTRE,Post Office Boxes,-12.801028,130.955789
4,804,PARAP,NT,PARAP,Post Office Boxes,-12.432181,130.843310

In [9]:
# extracting codes only within Victoria
postal_vic = postal_df.loc[postal_df['state']=='VIC']
postal_vic = postal_vic.reset_index(drop = True)

In [10]:
postal_vic.to_csv('./datasets/clean_data/vic_postal.csv', index=False, header=True)